:root {
    --primary-color: rgba(238, 238, 238, 0.664);
    --text-color: rgba(0, 0, 0, 0.856);
    --btn-color: #f0f0f0;
    --secondary-color: #fdfdfd;
    --message-color: rgba(55, 192, 255, 0.8);
}

.ai-chat-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80vh;
    box-sizing: border-box;
    gap: 20px;
}

.chat-history {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.history-title {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}

.chat-history-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 30px;
    color: var(--text-color);
}

.chat-history-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.chat-history-title {
    color: var(--text-color);
    margin-bottom: 5px;
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-container {
    padding: 0 !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    overflow: hidden !important;
    box-sizing: border-box;
}

.chat-interface {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    overflow-y: auto;
}

.chat-message {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: var(--text-color);
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.2);
}

.user-message {
    display: flex;
    align-self: flex-end;
    background-color: var(--message-color);
    padding: 15px;
    border-radius: 20px;
    max-width: 60%;
    
}

.ai-message {
    align-self: flex-start;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 20px;
    max-width: 60%;
}

.chat-input {
    padding: 20px !important;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background: var(--primary-color);
    border-top: 1px solid rgba(133, 133, 133, 0.377);
}

.input-feature {
    width: 60px;
    height: 50px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.feature-icon {
    font-size: 50px;  
    transition: 0.2s ease-in-out all;
    color: var(--text-color);
}

.feature-icon:hover {
    color: var(--secondary-color);
}

.input-textarea {
    height: 100%;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 30px;
    font-size: 20px;
    line-height: 20px;
    max-height: 60px; 
    background: var(--secondary-color);
    outline: none;
    transition: 0.2s ease-in-out all;
}

.input-textarea:focus {
    background-color: var(--secondary-color);
}

.input-btn {
    padding: 10px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: 0.2s ease-in-out all;
}

.input-btn:hover {
    color: #367dce;
}