:root {
    --primary-bg: rgba(255, 255, 255, 0.7);;
    --label-color: rgb(0, 0, 0);
    --link-color: rgb(240, 240, 240);
    --link-hover-color: rgb(255, 255, 255);
    --button-color: rgb(240, 240, 240);
    --button-hover-color: rgb(255, 255, 255);
}

input {
    transition: 0.2s ease-in-out;
}

input:focus {
    outline: none;
    border-color: var(--button-hover-color);
    box-shadow: 0 0 0 3px var(--button-hover-color);
    background-color: var(--button-hover-color);
}

.login-container {
    width: 600px;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.login-title {
    padding: 10px 0;
    margin: 0;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.login-form {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.login-label {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--label-color);
}

.login-input {
    padding: 15px;
    height: auto;
    width: 80%;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.login-forgot-password-container {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-forgot-password-link {
    margin: 10px 0 0 0;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--link-color);
    text-decoration: none;
    text-shadow: 2px 4px 7px rgba(92, 92, 92, 0.3);
    transition: 0.2s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.login-forgot-password-link:hover {
    color: var(--link-hover-color);
    transform: scale(1.05);
}

.login-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.login-button {
    margin-top: 10px;
    padding: 0;
    height: 50px;
    width: 200px;
    border-radius: 35px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(2, 2, 2);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.login-button:hover {
    background-color: var(--button-hover-color);
    color: rgb(2, 2, 2);
}

.login-register-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    gap: 10px;
}

.login-register-container p {
    font-size: 1.2rem;
    color: var(--label-color)
}

.login-register-link {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--link-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: transparent;
}

.login-register-link:hover {
    color: var(--link-hover-color);
    transform: scale(1.05);
}

.register-container {
    width: 600px;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.register-title {
    padding: 10px 0;
    margin: 0;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.register-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.register-form-container {
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.register-input-container {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

.register-label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--label-color);
}

.register-input {
    padding: 15px;
    height: auto;
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.register-button-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.register-button {
    margin-top: 10px;
    padding: 0;
    height: 50px;
    width: 30%;
    border-radius: 35px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(2, 2, 2);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.register-button:hover {
    background-color: var(--button-hover-color);
    color: rgb(2, 2, 2);
}

.register-btn-container {
    padding-bottom: 10px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    gap: 5px;
}

.register-login-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    gap: 10px;
}

.register-login-container p {
    font-size: 1.2rem;
    color: var(--label-color);
}

.login-link {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--link-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
}

.login-link:hover {
    color: var(--link-hover-color);
    transform: scale(1.05);
}

.forgot-password-container {
    width: 500px;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.forgot-password-title {
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.forgot-password-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.forgot-password-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.forgot-password-label {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--label-color);
}

.forgot-password-input {
    padding: 15px;
    height: auto;
    width: 90%;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.forgot-password-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.forgot-password-button {
    margin-top: 10px;
    height: 50px;
    width: 30%;
    border-radius: 35px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(2, 2, 2);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.forgot-password-button:hover {
    background-color: var(--button-hover-color);
    color: rgb(2, 2, 2);
}

.forgot-password-login-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    gap: 10px;
}

.forgot-password-login-container p {
    font-size: 1.2rem;
    color: var(--label-color);
}