.header-container {
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
  color: whitesmoke;
  text-shadow: 0px 2px 4px #6b7280;
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  cursor: pointer;
}

.header-nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.nav-link {
    color: #c0c0c0; /* tương đương text-gray-500 */
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link.active {
    color: rgb(3, 3, 3);
    background: rgba(255, 255, 255, 0.274);
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    font-weight: bold;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #007bff;
}
.header-profile {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.profile-icon {
    width: 50px;
    cursor: pointer;
}