.header-container {
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 4px rgba(5, 5, 5, 0.274);
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  cursor: pointer;
}

.header-nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    padding: 15px;
    border-radius: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: #2e2e2e;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link.active {
    color: rgb(253, 253, 253);
    text-shadow: 0px 2px 4px #6b7280;
    background: rgba(255, 255, 255, 0.274);
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #007bff;
}
.header-profile {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.profile-icon {
    width: 50px;
    cursor: pointer;
}