.social-container {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.social-title {
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 4px rgb(255, 255, 255);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.social-description {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 18px rgb(255, 255, 255);
  font-size: 1.2rem;
}

.social-topics {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
}

.social-filter {
  width: 20%;
}

.social-filter-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.social-filter-option-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-filter-checkbox {
  width: 30px;
  height: 30px;
  display: none;
}

.social-filter-checkbox:checked + .checkmark {
  background: rgba(0, 149, 255, 0.753);
  transition: 0.25s ease-in-out;
}

.social-filter-checkbox:checked + .checkmark::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 18px;
  top: 2px;
  left: 6px;
}

.social-filter-option {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  font-size: 1.2rem;
}

.social-topic-container {
  height: 200px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px 30px;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 253, 253, 0.644);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.social-topic-container:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.25s ease-in-out;
}

.social-topic-container:last-child {
  border-bottom: none;
}

.social-topic-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.social-topic-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.social-last-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.social-topic-description {
  padding-top: 10px;
}